{% layout none %}
<!DOCTYPE html>

<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,400italic,300italic,700italic' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
  <title>Please Log In</title>
  {{ content_for_header }}
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      outline:none;
    }

    img {
      border: 0;
    }

    

    body:after{
     content:'';
      background-color:rgba(0, 0, 0, 0.52);
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;        
      z-index:9;
    }
    h1,h2,h3,h4,h5,h6 {
      color: #fff;
      margin-bottom:10px;
      font-weight: 400;
    }

    h3,h4,h5,h6 {
      font-weight: 700;
    }

    a {
      text-decoration:none; 
      color: {{ settings.color_secondary }};
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

   
    p {
      color: #666;
      margin-bottom: 13px;
      font-size: 14px;
    }

    ul, ol {
      margin-bottom: 13px;
      margin-left: 15px;
    }

    ol {
      margin-left: 25px;
    }

    
    input.btn:hover {
      -webkit-box-shadow: 0px 0px 3px #3084CA;
      -moz-box-shadow: 0px 0px 3px  #3084CA;
    }

    #password-page{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-flex-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      position:relative;
      height:100vh;
    }
    #container{
      position:relative;
      z-index:99;
      width:100%;
    }
    
    .password_logo{
      width: 300px;
      margin: 0 auto 60px;
    }
    #login {
   		text-align:center;
    }
    #login h1 {
      text-transform: uppercase;
      margin-bottom: 35px;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.1em;
    }

    #login .default-text {
      font-family: serif;
      font-style: italic;
      margin-bottom: 1.5em;
      font-size: 17px;
      display: block;
      text-align: center;
      margin-top: 33px;
    }
    .action{
   		display:inline-block;
          margin-bottom: 20px;
    }
    .action input[type="password"]{
      width: 270px;
      height: 24px;
      background: #fff;
      border: 0;
      border-radius:0;
      -moz-border-radius:0;
      -ms-border-radius:0;
      -webkit-border-radius:0;
      float:left;
      padding:6px 15px 4px;
    }
    
    .action:after{
      content:'';
      display:block;
      clear:both;
    }
   
    .action .btn {
      background: #fff;
      float: left;
      margin-left: 5px;
      height: 34px;
      line-height: 24px;
      width: 100px;
      padding: 6px 0 4px;
      border: 0;
      font-size: 14px;
      border-radius: 0;
      text-transform: uppercase;
      color: #333;
      font-weight: 700;
      cursor: pointer;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      border-radius:0;
      -moz-border-radius:0;
      -ms-border-radius:0;
      -webkit-border-radius:0;
    }
    
    input, button {
      -webkit-border-radius:0; 
      border-radius:0;
        -webkit-appearance: none;
      appearance: none;
    }
    
    .action .btn:hover{
      color:#333;
      background:{{ settings.color_secondary }};
    }
    
    @-moz-document url-prefix() {
      .action input[type="password"]{
        padding: 5px 15px 5px;
      }
      .action .btn {
     	padding:4px 0 6px;
      }
    }
    
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .action input[type="password"]{
        padding: 5px 15px 5px;
      }
      .action .btn {
     	padding:7px 0 3px;
      }
    }
    
    #footer {
      margin-top: 15px;
      margin-bottom: 40px;
      font-size: 15px;
      text-align: center;
    }
    
    
    #owner{
        margin-bottom: 35px;
    }
    #owner a{
      margin:0 8px;      
    }
    
    #share_this h4{
      font-size: 15px;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-weight: 700;
      display: inline-block;
      padding-bottom: 5px;
      position: relative;
      color: #fff;
    }
    #share_this h4:after {
      content: '';
      background: #fff;
      height: 2px;
      width: 100%;
      display: block;
      vertical-align: bottom;
      position: absolute;
      bottom: 0;
    }
    
    #share_this ul {
      margin-bottom: 35px;
    }

    #share_this ul a{
      display: inline-block;
      margin: 0 8px;
      text-decoration:none;      
      color: #fff;
      font-size: 16px;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border: 2px solid #fff;
      border-radius: 50%;  
    }
    
    #share_this ul a:hover{
      background: #fff;
      color: #000;
    }
    
    #powered {
      display: block;
      margin-top: 15px;
    }

    #powered a {
      background-repeat: no-repeat;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAACl0lEQVR4AW2RS2jcdRSFv3v/j5nJOBnbJCba0DQ2qU1aqw0oOqB0oxbB564gFLvothvBlWQjuJBCwcfOhYouBF2ILlMsFKWSIopFFNNSkyxaqxPzmJn/43evmUVpFv3gu9zNgQNHuAsfnn/2tLufcHgI9E3gU+6CvL/wHDsR/A3EDwiy6HAMmBbxsze+a30BGDuQ+fl5brP76Uv7I7GXFTbMfVTQKyL+tigzS9ey9fWOvxaJXQTaAPHN0QVuMyq14+Ycd5EN8FcQQ1QA2Owy2F4LXw/tilZ0WGaAzViGI2ZHKlO4f4xErTJsspW1EVEiTRisDeMugCMIvYzx5rruAX7XZF3B/flI4lY3b6OS0Jo6zUtH3+WJB0/hGEUoMAONIAQnTayxLXH/CLKvV25QTZq8OneOseYMANfTXfy0/BkeKpiBCAAUBU8Ci/H2g+OjWbHJ45Mn6Qcv/PEeW9mtbf8BDJUUsx4i9CUrbApAJw/URsR9QkTZXd8LgJtx/rezXP37Io3qfQRzzB1BKEsH9B5QNAphjyN7BeHPGxcAOHbwDCdbnxNrhcI6uDkh3Klt5nMDDZ1Q7++p+kA1GeSHpY/48vIZAB4ef5HJkRbdfA1zcHdEQFUIwafzzPepIuO9/L/o/uZhXnj0Hda6K2z0bgKQRnXcA2bgDgAIFAUDsXotdnx/GXrU0ub2NK/3BaDdWWa5fZlq0qDXcXZkcRArORqDHqpXhrl663u+/eUtDo49Q1Zu8eO1T+jk/3JvfQizHBzgToO8sMdicf9AJFpy84krq9/M/rzy1bS4RNV0kHo6BBghQBkcd4hjQRWynJqcOvcUO5l7pDGmhMPudgQ4lCZ65K/VfPb6arlVH5AFVX6tVHUxmF/6H+vwKe+hBs8sAAAAAElFTkSuQmCC);
      padding-left: 21px;
      text-decoration: none;
    }

    #powered a:hover {
      text-decoration: underline;
    }

    .errors {
      background: #feebeb;
      padding: 4px 5px;
      font-size: 15px;
      color: #7e1412;
      display: block;
      margin-bottom: 15px;
    }

    .errors ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .center {
      text-align: center;
      display: block;
      font-size: 17px;
    }
  </style>
</head>
<body>
  
{{ content_for_layout }}
  
  
  
  
  <script type="text/javascript">
    document.getElementById('password').focus();
  </script>

</body>
</html>
